<div class="contendor-footer">
        <hr>
        <div class="contenedor_derecho">
                <h2>TerapHora</h2>
                <p>Sistema de registro y citas para pacientes en un consultorio de psicológia
                </p>
        </div>

        <div class="contenedor_Izquierdo">

                
                        
        </div>
        
        <div class="contenedor_Abajo">
                <hr>
                <p>Todos los derechos reservados  &copy; 2023 </p>
        </div>
</div>